html,
body {
  height: 100%;
  width: 100%;
}
.container {
  display: block;
}
.container-one {
  background: #1f2937;
  color: white;
}
.header-info {
  justify-content: center;
  display: flex;
}
a:link {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 16px;
}
.container-two {
  display: flex;
  text-align: center;
  justify-content: center;
}
.square {
  height: 100px;
  width: 100px;
  background: white;
  border: 3px solid #3882f6;
  border-radius: 0.375rem;
}
.info {
  max-width: 200px;
}
h1 {
  text-align: center;
  justify-content: center;
}
.text {
  text-align: center;
  justify-content: center;
}
.container-three {
  display: flex;
  text-align: center;
  justify-content: center;
  background: #e5e7eb;
}
.container-four {
  text-align: center;
  justify-content: center;
  display: flex;
}
.box {
  color: white;
  background: #3882f6;
  width: 800px;
  height: 80px;
  justify-content: center;
  text-align: center;
}
.footer {
  text-align: center;
  justify-content: center;
  background: #1f2937;
  color: white;
}
